<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gpnews.dao.InetArticleMapper">

    <select id="page" resultType="com.gpnews.pojo.InetArticle">
        select *
        from inet_article
        where 1 = 1
        <if test="type != null">
            and type = #{type}
        </if>
        <if test="endPubTime !=null and endPubTime!=''">
            and publish_time &lt;= #{endPubTime}
        </if>
        order by publish_time desc
        <if test="start != null and rows != null">
            limit #{start},#{rows}
        </if>
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(1)
        from inet_article
        where 1 = 1
        <if test="type != null">
            and type = #{type}
        </if>
        <if test="endPubTime !=null and endPubTime!=''">
            and publish_time &lt;= #{endPubTime}
        </if>
    </select>
</mapper>
