<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gpnews.dao.MaterialMapper">

    <select id="query" resultType="com.gpnews.pojo.Material">
      select * from s_material
      where 1 = 1
      <if test="material != null">
          <if test="material.userId != null">
              and user_id = #{material.userId}
          </if>
      </if>
      order by created_time desc
      <if test="start != null and rows != null">
          limit #{start}, ${rows}
      </if>
    </select>
    <select id="count" resultType="java.lang.Integer">
        select count(1) from s_material
        where 1 = 1
        <if test="material != null">
            <if test="material.userId != null">
                and user_id = #{material.userId}
            </if>
        </if>
    </select>
</mapper>
