<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gpnews.dao.PermissionMapper">

    <select id="queryByRoleId" resultType="com.gpnews.pojo.Permission">
        select * from u_permission
          LEFT join u_role_permission urp on urp.permission_id = u_permission.id
        where urp.role_id = #{id}
    </select>

    <select id="selectByIds" resultType="com.gpnews.pojo.Permission">
        select * from u_permission
        where 1 = 1
        <if test="ids.length > 0">
            and id in
            <foreach collection="ids" index="index" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </select>
</mapper>
