<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gpnews.dao.RoleMapper">

    <select id="queryByUserId" resultType="com.gpnews.pojo.Role">
        select role.* from u_role role
          left join u_user_role uur on role.id = uur.role_id
        where uur.user_id = #{id}
    </select>

    <select id="page" resultType="com.gpnews.pojo.Role">
        select *
        from u_role
        where 1 = 1
        <if test="role.name != null and role.name != ''">
            and `name` like concat('%', #{role.name}, '%')
        </if>
        <if test="start != null and rows != null">
            limit #{start},#{rows}
        </if>
    </select>
    <select id="count" resultType="java.lang.Integer">
        select count(1)
        from u_role
        where 1 = 1
        <if test="role.name != null and role.name != ''">
            and `name` like concat('%', #{role.name}, '%')
        </if>
    </select>

    <select id="selectByIds" resultType="com.gpnews.pojo.Role">
        select * from u_role
        where 1 = 1
        <if test="ids.length > 0">
            and id in
            <foreach collection="ids" index="index" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </select>

    <insert id="insertRoleUser">
        insert into u_user_role (id, role_id, user_id)
        values (#{map.id}, #{map.roleId}, #{map.userId})
    </insert>

    <delete id="delByUserId">
        delete from u_user_role
        where user_id = #{userId}
    </delete>

    <select id="getRoleByUserId" resultType="java.util.HashMap">
        select *
        from u_user_role
        where user_id = #{userId}
    </select>

</mapper>
