<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gpnews.dao.VisitsMapper">

    <select id="selectByTime" resultType="com.gpnews.pojo.Visits">
        select
          sum(visit_num) as visitNum, sum(publish_num) as publishNum, sum(comment_num) as commentNum
        from v_visits
        where user_id = #{userId}
        <if test="beginTime !=null and beginTime!=''">
            and time > #{beginTime}
        </if>
        <if test="endTime !=null and endTime!=''">
            and time &lt;= #{endTime}
        </if>
    </select>

</mapper>

